@charset "utf-8";

@media screen and (max-width:768px) {

#contact .contact-img{

    min-height: 300px;
    background:url("../img/contact_sp.jpg") no-repeat center;
    background-size: cover;
}


}
