@charset "UTF-8";

#aftercare {
  margin-bottom: 100px;
}

/*==================================================
アコーディオンのためのcss
===================================*/

/*アコーディオン全体*/
.accordion-area{
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin:0 auto;
}

.accordion-area li{
  margin: 10px 0;
}

.accordion-area section {
  border: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.title {
  position: relative;/*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size:1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all .5s ease;

}

/*アイコンの＋と×*/
.title::before,
.title::after{
  position: absolute;
  content:'';
  width: 15px;
  height: 2px;
  background-color: #333;

}
.title::before{
  top:48%;
  left: 15px;
  transform: rotate(0deg);

}
.title::after{
  top:48%;
  left: 15px;
  transform: rotate(90deg);

}

/*　closeというクラスがついたら形状変化　*/

.title.close::before{
  transform: rotate(45deg);
}

.title.close::after{
  transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
  display: none;/*はじめは非表示*/
  background: #f2f8fa;
  /*  background: #f3f3f3; */
  margin:0 3% 3% 3%;
  padding: 3%;
}


/*========= レイアウトのためのCSS ===============*/

h2{
  text-align: center;
  font-size:1.5rem;
  padding: 3%;
}

h1{
  text-align: center;
  font-size:2rem;
  padding: 3%;
}


