<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<title>利用規約 Privacy Policy：目黒の増毛エクステAVELLINO</title>
	<meta name="description" content="利用規約 Privacy Policy：目黒の増毛エクステAVELLINO">
	<meta name="robots" content="noindex,nofollow">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<!--=============Google Font ===============-->
	<link href="https://fonts.googleapis.com/css?family=Lato:700%7CKosugi+Maru&display=swap" rel="stylesheet">
	<!--==============レイアウトを制御する独自のCSSを読み込み===============-->
	<!--　横移動させて全画面で見せる-->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">

	<!-- ツールチップ-->
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/tippy.js@5.0.3/animations/shift-toward-subtle.css">
	<!--　サムネイルをクリックすると、メイン画像が切り替わる1-->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
	<!--　ページを開くと、背景が暗くなりテキストを表示-->
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css">


	<!--自作のCSS-->
	<link rel="stylesheet" type="text/css" href="css/reset_zoumou.css">
	<link rel="stylesheet" type="text/css" href="css/parts_zoumou.css">
	<link rel="stylesheet" type="text/css" href="css/layout_zoumou.css">

	<link rel="stylesheet" type="text/css" href="css/layout_price.css">
	<link rel="stylesheet" type="text/css" href="css/parts_price.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">

</head>


<body>

	<div id="container">



		<header id="header">

			<div class="img-gallery fadeUpTriggerNew">
				<ul class="slider2">
					<li><img src="img/gal_01.png" alt=""></li>
					<li><img src="img/gal_02.png" alt=""></li>
					<li><img src="img/gal_03.png" alt=""></li>
					<li><img src="img/gal_04.png" alt=""></li>
					<li><img src="img/gal_05.png" alt=""></li>
					<li><img src="img/gal_06.png" alt=""></li>
					<li><img src="img/gal_07.png" alt=""></li>
					<li><img src="img/gal_08.png" alt=""></li>
					<!--/slider2-->
				</ul>
				<!--/img-gallery-->
			</div>





			<ul class="header-utility">
				<li><a href="https://res.locaop.jp/a/avellino/shops/10436399904715329217?_src=lp" target="_blank">ご来店予約</a></li>
				<li><a href="https://lin.ee/mSPyMupI" target="_blank">LINE予約&emsp;</a></li>
				<li><a href="tel:050-3623-5556"><span class="pcnone">TEL</span><span
							class="spnone">050-3623-5556</span></a></li>
			</ul>
		</header>

		<div class="openbtn">
			<div class="openbtn-area"><span></span><span></span><span></span></div>
		</div>
		<nav id="g-nav">
			<div id="g-nav-list">
				<!--<span class="bg-white2">AVELLINO</span></p>-->
				<ul>
					<li><a href="/index.html"target="_blank">トップ</a></li>
					<li><a href="/view/avellino_price.html"target="_blank">料金表</a></li>
					<li><a href="/view/avellino_review.html"target="_blank">施術例</a></li>
					<li><a href="/view/avellino_faq.html#faq"target="_blank">よくあるご質問</a></li>
					<li><a href="/view/avellino_faq.html#timeline"target="_blank">施術の流れ</a></li>
					<li><a href="/view/avellino_shop.html"target="_blank">店舗情報・アクセス</a></li>
					<li><a>Instagram（準備中）</a></li>
					<li><a href="/view/avellino_faq.html#aftercare"target="_blank">アフターケア</a></li>
					<li><a>オンラインショップ（準備中）</a></li>
					<li><a href="https://form.run/@chocostory-SC1HlMuigRaVpRgu6U11">増毛シミュレーション</a></li>
					<li><a href="/view/avellino_online.html"target="_blank">増毛オンライン相談</a></li>


				</ul>
			</div>
		</nav>
		<div class="circle-bg"></div>

		<main>

			<div class="layout">

				<div class="title">
					<h1>利用規約</h1>
					<p>
						<font color=#696969>Privacy Policy</font>
					</p>
				</div>



				<div class="shop-item">

					<br>AVELLINO（以下，「当社」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。

					<br><br><b>第1条（個人情報）</b>
					<br>「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。

					<br><br><b>第2条（個人情報の収集方法）</b>
					<br>当社は，ユーザーが利用登録をする際に氏名，生年月日，住所，電話番号，メールアドレス，銀行口座番号，クレジットカード番号，運転免許証番号などの個人情報をお尋ねすることがあります。また，ユーザーと提携先などとの間でなされたユーザーの個人情報を含む取引記録や決済に関する情報を,当社の提携先（情報提供元，広告主，広告配信先などを含みます。以下，｢提携先｣といいます。）などから収集することがあります。

					<br><br><b>第3条（個人情報を収集・利用する目的）</b>
					<br>当社が個人情報を収集・利用する目的は，以下のとおりです。

					<br>当社サービスの提供・運営のため
					<br>ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）
					<br>ユーザーが利用中のサービスの新機能，更新情報，キャンペーン等及び当社が提供する他のサービスの案内のメールを送付するため
					<br>メンテナンス，重要なお知らせなど必要に応じたご連絡のため
					<br>利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため
					<br>ユーザーにご自身の登録情報の閲覧や変更，削除，ご利用状況の閲覧を行っていただくため
					<br>有料サービスにおいて，ユーザーに利用料金を請求するため
					<br>上記の利用目的に付随する目的
					<br><br><b>第4条（利用目的の変更）</b>
					<br>当社は，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。
					<br><br><b>第5条（個人情報の第三者提供）</b>
					<br>当社は，次に掲げる場合を除いて，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。
					<br>人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難であるとき
					<br>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって，本人の同意を得ることが困難であるとき
					<br>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
					<br>予め次の事項を告知あるいは公表し，かつ当社が個人情報保護委員会に届出をしたとき
					<br>利用目的に第三者への提供を含むこと
					<br>第三者に提供されるデータの項目
					<br>第三者への提供の手段または方法
					<br>本人の求めに応じて個人情報の第三者への提供を停止すること
					<br>本人の求めを受け付ける方法
					<br>前項の定めにかかわらず，次に掲げる場合には，当該情報の提供先は第三者に該当しないものとします。
					<br>当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合
					<br>合併その他の事由による事業の承継に伴って個人情報が提供される場合
					<br>個人情報を特定の者との間で共同して利用する場合であって，その旨並びに共同して利用される個人情報の項目，共同して利用する者の範囲，利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について，あらかじめ本人に通知し，または本人が容易に知り得る状態に置いた場合
					<br><br><b>第6条（個人情報の開示）</b>
					<br>当社は，本人から個人情報の開示を求められたときは，本人に対し，遅滞なくこれを開示します。ただし，開示することにより次のいずれかに該当する場合は，その全部または一部を開示しないこともあり，開示しない決定をした場合には，その旨を遅滞なく通知します。
					<br>本人または第三者の生命，身体，財産その他の権利利益を害するおそれがある場合
					<br>当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合
					<br>その他法令に違反することとなる場合
					<br>前項の定めにかかわらず，履歴情報および特性情報などの個人情報以外の情報については，原則として開示いたしません。
					<br><br><b>第7条（個人情報の訂正および削除）</b>
					<br>ユーザーは，当社の保有する自己の個人情報が誤った情報である場合には，当社が定める手続きにより，当社に対して個人情報の訂正，追加または削除（以下，「訂正等」といいます。）を請求することができます。
					<br>当社は，ユーザーから前項の請求を受けてその請求に応じる必要があると判断した場合には，遅滞なく，当該個人情報の訂正等を行うものとします。
					<br>当社は，前項の規定に基づき訂正等を行った場合，または訂正等を行わない旨の決定をしたときは遅滞なく，これをユーザーに通知します。
					<br><br><b>第8条（個人情報の利用停止等）</b>
					<br>当社は，本人から，個人情報が，利用目的の範囲を超えて取り扱われているという理由，または不正の手段により取得されたものであるという理由により，その利用の停止または消去（以下，「利用停止等」といいます。）を求められた場合には，遅滞なく必要な調査を行います。
					<br>前項の調査結果に基づき，その請求に応じる必要があると判断した場合には，遅滞なく，当該個人情報の利用停止等を行います。
					<br>当社は，前項の規定に基づき利用停止等を行った場合，または利用停止等を行わない旨の決定をしたときは，遅滞なく，これをユーザーに通知します。
					<br>前2項にかかわらず，利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって，ユーザーの権利利益を保護するために必要なこれに代わるべき措置をとれる場合は，この代替策を講じるものとします。
					<br><br><b>第9条（プライバシーポリシーの変更）</b>
					<br>本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。
					<br>当社が別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。
					<br><br><b>第10条（キャンセルについて）</b>
					<br>キャンセルは前日までにお願いいたします。
					<br>当日のキャンセル、連絡が無い予定変更の場合は、予約時の金額を請求させていただく場合がございます。また、今後のご予約をお受けできかねる場合がございます。<br><br>

				</div>
			</div>

			<div class="bgextend bgLRextendTrigger_bk customise_one">
				<div class="bgappearTrigger_bk">
					<section id="contact2">
						<div class="contact2-detail">
							<span class="slide-in rightAnime"><span class="slide-in_inner rightAnimeInner">
									<h2>Contact</h2>
								</span></span>
							<p><span class="slide-in rightAnime"><span
										class="slide-in_inner rightAnimeInner">お電話・お問い合わせにてお気軽にお問い合わせください。</span></span>
							</p>
						</div>
						<div class="contact2-tel">
							<p><a href="tel:050-3623-5556"><span class="slide-in rightAnime"><span
											class="slide-in_inner rightAnimeInner">Tel:050-3623-5556</span></span></a>
							</p>
							<p><a href="/view/avellino_online.html"target="_blank"><span class="slide-in rightAnime"><span
											class="slide-in_inner rightAnimeInner">お問い合わせ<br>フォーム</span></span></a></p>
						</div>
					</section>
				</div>
			</div>

		</main>

		<footer id="footer" class="inner fadeLeftTrigger fadeLeft">
			<dl>
				<dt><span class="slide-in leftAnime"><span
							class="slide-in_inner leftAnimeInner">メンズ増毛エクステ</span></span></dt>
				<dd><span class="slide-in leftAnime"><span class="slide-in_inner leftAnimeInner">AVELLINO
							</span></span></dd>
			</dl>
			<div class="footer-list">
				<div class="slide-in leftAnime">
					<div class="slide-in_inner leftAnimeInner">
						<ul>
							<li><a href="/index.html"target="_blank">トップ</a></li>
							<li><a href="/view/avellino_price.html"target="_blank">料金表</a></li>
							<li><a href="/view/avellino_review.html"target="_blank">施術例</a></li>
							<li><a href="/view/avellino_faq.html#faq"target="_blank">よくあるご質問</a></li>
							<li><a href="/view/avellino_faq.html#timeline"target="_blank">施術の流れ</a></li>
							<li><a href="/view/avellino_shop.html"target="_blank">店舗情報・アクセス</a></li>
							<li><a href="#">INSTAGRAM（準備中）</a></li>
							<li><a href="/view/avellino_faq.html#aftercare"target="_blank">アフターケア</a></li>
							<li><a href="#">オンラインショップ（準備中）</a></li>
							<li><a href="https://form.run/@chocostory-SC1HlMuigRaVpRgu6U11">増毛シミュレーション</a></li>
							<li><a href="/view/avellino_online.html"target="_blank">増毛オンライン相談</a></li>
							<li><a href="/view/avellino_privacy.html"target="_blank">利用規約</a></li>
						</ul>
					</div>
				</div>

			</div>
			<br><br><small><span class="slide-in leftAnime"><span class="slide-in_inner leftAnimeInner"><br><br>〒153-0042<br>東京都目黒区青葉台1-30-9<br>ハイリー青葉台802<br><br>&copy; AVELLINO
						</span></span></small>
		</footer>

		<!--/container-->
	</div>

	<!--=============JS ===============-->
	<!--jQuery-->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<!--　横移動させて全画面で見せる-->
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<!--印象編　9-2　PNG アニメーション（APNG）-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/apng-canvas/2.1.1/apng-canvas.min.js"></script>

	<!-- スクロールすると位置が固定して追従-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js"></script>
	<!--　サムネイルをクリックすると、メイン画像が切り替わる1-->
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<!-- ツールチップ-->
	<script src="https://unpkg.com/popper.js@1"></script>
	<script src="https://unpkg.com/tippy.js@5"></script>
	<!--　ページを開くと、背景が暗くなりテキストを表示-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

	<!--自作のJS-->
	<script src="js/script.js"></script>
	<script src="js/script_privacy.js"></script>

	<script>
		(function (d) {
			var config = {
				kitId: 'ymx5juc',
				scriptTimeout: 3000,
				async: true
			},
				h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
		})(document);
	</script>

</body>

</html>
