<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<title>店舗情報・アクセス Shop：目黒の増毛エクステAVELLINO</title>
	<meta name="description" content="店舗情報・アクセス Shop：目黒の増毛エクステAVELLINO">
	<meta name="robots" content="noindex,nofollow">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<!--=============Google Font ===============-->
	<link href="https://fonts.googleapis.com/css?family=Lato:700%7CKosugi+Maru&display=swap" rel="stylesheet">
	<!--==============レイアウトを制御する独自のCSSを読み込み===============-->
	<!--　横移動させて全画面で見せる-->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">

	<!-- ツールチップ-->
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/tippy.js@5.0.3/animations/shift-toward-subtle.css">
	<!--　サムネイルをクリックすると、メイン画像が切り替わる1-->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
	<!--　ページを開くと、背景が暗くなりテキストを表示-->
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css">


	<!--自作のCSS-->
	<link rel="stylesheet" type="text/css" href="css/reset_zoumou.css">
	<link rel="stylesheet" type="text/css" href="css/parts_zoumou.css">
	<link rel="stylesheet" type="text/css" href="css/layout_zoumou.css">

	<link rel="stylesheet" type="text/css" href="css/layout_price.css">
	<link rel="stylesheet" type="text/css" href="css/parts_price.css">

	<link rel="stylesheet" type="text/css" href="css/shop.css">

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="css/6-2-4.css">
	<link rel="stylesheet" type="text/css" href="css/footer-shop.css">


</head>


<body>

	<div id="container">



		<header id="header">

			<div class="img-gallery fadeUpTriggerNew">
				<ul class="slider2">
					<li><img src="img/gal_01.png" alt=""></li>
					<li><img src="img/gal_02.png" alt=""></li>
					<li><img src="img/gal_03.png" alt=""></li>
					<li><img src="img/gal_04.png" alt=""></li>
					<li><img src="img/gal_05.png" alt=""></li>
					<li><img src="img/gal_06.png" alt=""></li>
					<li><img src="img/gal_07.png" alt=""></li>
					<li><img src="img/gal_08.png" alt=""></li>
					<!--/slider2-->
				</ul>
				<!--/img-gallery-->
			</div>







			<ul class="header-utility">
				<li><a href="https://res.locaop.jp/a/avellino/shops/10436399904715329217?_src=lp" target="_blank">ご来店予約</a></li>
				<li><a href="https://lin.ee/mSPyMupI" target="_blank">LINE予約&emsp;</a></li>
				<li><a href="tel:050-3623-5556"><span class="pcnone">TEL</span><span
							class="spnone">050-3623-5556</span></a></li>
			</ul>
		</header>

		<div class="openbtn">
			<div class="openbtn-area"><span></span><span></span><span></span></div>
		</div>
		<nav id="g-nav">
			<div id="g-nav-list">
				<!--<span class="bg-white2">AVELLINO</span></p>-->
				<ul>
					<li><a href="/index.html"target="_blank">トップ</a></li>
					<li><a href="/view/avellino_price.html"target="_blank">料金表</a></li>
					<li><a href="/view/avellino_review.html"target="_blank">施術例</a></li>
					<li><a href="/view/avellino_faq.html#faq"target="_blank">よくあるご質問</a></li>
					<li><a href="/view/avellino_faq.html#timeline"target="_blank">施術の流れ</a></li>
					<li><a href="/view/avellino_shop.html"target="_blank">店舗情報・アクセス</a></li>
					<li><a>Instagram（準備中）</a></li>
					<li><a href="/view/avellino_faq.html#aftercare"target="_blank">アフターケア</a></li>
					<li><a>オンラインショップ（準備中）</a></li>
					<li><a href="https://form.run/@chocostory-SC1HlMuigRaVpRgu6U11">増毛シミュレーション</a></li>
					<li><a href="/view/avellino_online.html"target="_blank">増毛オンライン相談</a></li>


				</ul>
			</div>
		</nav>
		<div class="circle-bg"></div>

		<main>


			<article id="lead_shop" class="inner zoomOutTrigger">
				<div class="lead-img fadeInTrigger"></div>
				<div class="lead-area fadeInTrigger">
					<h2>目黒にある<br>やすらぎの<br>ヘアサロン</h2>
					<p>増毛エクステ<br>アヴェリーノは、<br>ヘアスタイルのお悩みを<br>お気軽にご相談いただける<br>やすらぎの<br>空間を<br>ご提供いたします。</p>
					<!--	<div class="lead-btn"><a href="#" class="btn04 bordertop_"><span>お店のご紹介</span></a></div> -->
				</div>
				<!--/lead-->
			</article>


			<section id="access">
				<section class="access-area">

					<div class="access-block blurTrigger">
						<div class="access-box">
							<h3>目黒店 アクセス</h3>
							<p>〒153-0042<br>東京都目黒区青葉台1-30-9<br>ハイリー青葉台802<br><br>目黒駅より徒歩すぐ</p>
							<a href="https://goo.gl/maps/QA1CNRpi95CKUTWW7" target="_blank" class="btnarrow5">Google
								Mapで見る</a>
						</div>
					</div>

					<div class="access-map">
						<div class="iframe-wrap">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12961.696648009187!2d139.7032633!3d35.6911784!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188df49cd1ad01%3A0x4e6585dc18b557df!2z44Oh44Oz44K644Ko44Kv44K544OG5bCC6ZaA5bqXQXZlbGlub0hhaXJTYWxvbg!5e0!3m2!1sja!2sjp!4v1677919448708!5m2!1sja!2sjp"
								width="600" height="450" frameborder="0" allowfullscreen="" title="access"></iframe>
						</div>
					</div>



				</section>
			</section>


			<!--			<section id="greeting">
					<div class="greeting-area">
					<figure class="greeting-img smoothTrigger fadeUpTrigger"><img src="img/05.jpg" alt=""></figure>
					<div class="greeting-content">

					<h2><p class="greeting-lead">Greeting<br>代表ご挨拶</p></h2>
					<p class="smoothTrigger">増毛したことはまだまだ人に言い辛いところがあります。</p>
					<p class="smoothTrigger">私たちは、みなさんの日常を豊かにするために、髪のお悩みに寄り添いたいと考えています。</p>
					<p class="txt-r smoothTrigger">Avellino<br>代表　〇〇 〇〇</p>
				</div>
			</div>
		</section> -->

			<div class="wrapper">
				<h1>スタッフ</h1>
				<ul class="gallery">
					<li><img src="img/staff/02.jpg" alt=""><span class="detail-price">
							<font size=2 color=#000>COMING SOON<br>STAFF NAME1<br>STAF DATA1<br>COMMENT1</font>
						</span></li>
					<li><img src="img/staff/03.jpg" alt=""><span class="detail-price">
							<font size=2 color=#000>COMING SOON<br>STAFF NAME2<br>STAF DATA2<br>COMMENT2</font>
						</span></li>
					<li><img src="img/staff/01.jpg" alt=""><span class="detail-price">
							<font size=2 color=#000>COMING SOON<br>STAFF NAME3<br>STAF DATA3<br>COMMENT3</font>
						</span></li>


				</ul>
				<ul class="choice-btn">
					<li><img src="img/staff/02.jpg" alt=""></li>
					<li><img src="img/staff/03.jpg" alt=""></li>
					<li><img src="img/staff/01.jpg" alt=""></li>

				</ul>

				<!--/wrapper-->
			</div>

			<section id="contact2" class="inner">
				<div class="contact2-img fadeInTrigger"></div>
				<div class="contact2-area fadeInTrigger">
					<h2>感染症対策について</h2>
					<dl>
						<dt>換気、除菌、体温チェックを定期的に実施し感染症対策に努めております</dt>
						<dd><center>安心してお越しくださいませ</center></dd>
					</dl>
					<!--	 <div class="contact2-btn"><a href="#" class="btn04 bordertop"><span>お問い合わせ</span></a></div>　-->
					<!--/contact2-area-->
				</div>
			</section>

			<section id="about" class="scroll-point">
				<!--  <h2><span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">About</span></span></h2> -->
				<ul class="about-list fadeUpTrigger">
					<li>
						<dl>
							<dt>店舗名</dt>
							<dd>AVELLINO</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>創業</dt>
							<dd>2023年</dd>
						</dl>
					</li>
					<!--
					<li>
						<dl>
							<dt>代表</dt>
							<dd>〇〇〇〇〇〇</dd>
						</dl>
					</li>
				-->
					<li>
						<dl>
							<dt>所在地</dt>
							<dd>〒153-0042 東京都目黒区青葉台1-30-9 ハイリー青葉台802</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>電話</dt>
							<dd>050-3623-5556</dd>
						</dl>
					</li>
				</ul>
			</section>



			<div class="bgextend bgLRextendTrigger_bk customise_one">
				<div class="bgappearTrigger_bk">
					<section id="contact2_new">
						<div class="contact2-detail">
							<span class="slide-in rightAnime"><span class="slide-in_inner rightAnimeInner">
									<h2>Contact</h2>
								</span></span>
							<p><span class="slide-in rightAnime"><span
										class="slide-in_inner rightAnimeInner">お電話・お問い合わせにてお気軽にお問い合わせください。</span></span>
							</p>
						</div>
						<div class="contact2-tel">
							<p><a href="tel:050-3623-5556"><span class="slide-in rightAnime"><span
											class="slide-in_inner rightAnimeInner">Tel:050-3623-5556</span></span></a>
							</p>
							<p><a href="/view/avellino_online.html"target="_blank"><span class="slide-in rightAnime"><span
											class="slide-in_inner rightAnimeInner">お問い合わせ<br>フォーム</span></span></a></p>
						</div>
					</section>
				</div>
			</div>

		</main>

		<footer id="footer" class="inner fadeLeftTrigger fadeLeft">
			<dl>
				<dt><span class="slide-in leftAnime"><span
							class="slide-in_inner leftAnimeInner">メンズ増毛エクステ</span></span></dt>
				<dd><span class="slide-in leftAnime"><span class="slide-in_inner leftAnimeInner">AVELLINO
							</span></span></dd>
			</dl>
			<div class="footer-list">
				<div class="slide-in leftAnime">
					<div class="slide-in_inner leftAnimeInner">
						<ul>
							<li><a href="/index.html"target="_blank">トップ</a></li>
							<li><a href="/view/avellino_price.html"target="_blank">料金表</a></li>
							<li><a href="/view/avellino_review.html"target="_blank">施術例</a></li>
							<li><a href="/view/avellino_faq.html#faq"target="_blank">よくあるご質問</a></li>
							<li><a href="/view/avellino_faq.html#timeline"target="_blank">施術の流れ</a></li>
							<li><a href="/view/avellino_shop.html"target="_blank">店舗情報・アクセス</a></li>
							<li><a href="#">INSTAGRAM（準備中）</a></li>
							<li><a href="/view/avellino_faq.html#aftercare"target="_blank">アフターケア</a></li>
							<li><a href="#">オンラインショップ（準備中）</a></li>
							<li><a href="https://form.run/@chocostory-SC1HlMuigRaVpRgu6U11">増毛シミュレーション</a></li>
							<li><a href="/view/avellino_online.html"target="_blank">増毛オンライン相談</a></li>
							<li><a href="/view/avellino_privacy.html"target="_blank">利用規約</a></li>
						</ul>
					</div>
				</div>

			</div>
			<br><br><small><span class="slide-in leftAnime"><span class="slide-in_inner leftAnimeInner"><br><br>〒153-0042<br>東京都目黒区青葉台1-30-9<br>ハイリー青葉台802<br><br>&copy; AVELLINO
						</span></span></small>
		</footer>

		<!--/container-->
	</div>

	<!--=============JS ===============-->
	<!--jQuery-->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<!--　横移動させて全画面で見せる-->
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<!--印象編　9-2　PNG アニメーション（APNG）-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/apng-canvas/2.1.1/apng-canvas.min.js"></script>

	<!-- スクロールすると位置が固定して追従-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js"></script>
	<!--　サムネイルをクリックすると、メイン画像が切り替わる1-->
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<!-- ツールチップ-->
	<script src="https://unpkg.com/popper.js@1"></script>
	<script src="https://unpkg.com/tippy.js@5"></script>
	<!--　ページを開くと、背景が暗くなりテキストを表示-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="js/6-2-4.js"></script>
</body>

<!--自作のJS-->
<script src="js/script.js"></script>

<script src="js/script_shop.js"></script>

<script>
	(function (d) {
		var config = {
			kitId: 'ymx5juc',
			scriptTimeout: 3000,
			async: true
		},
			h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
	})(document);
</script>

</body>

</html>
