<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<title>料金表 Price：目黒の増毛エクステAVELLINO</title>
	<meta name="description" content="料金表 Price：目黒の増毛エクステAVELLINO">
	<meta name="robots" content="noindex,nofollow">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<!--=============Google Font ===============-->
	<link href="https://fonts.googleapis.com/css?family=Lato:700%7CKosugi+Maru&display=swap" rel="stylesheet">
	<!--==============レイアウトを制御する独自のCSSを読み込み===============-->
	<!--　横移動させて全画面で見せる-->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">

	<!-- ツールチップ-->
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/tippy.js@5.0.3/animations/shift-toward-subtle.css">
	<!--　サムネイルをクリックすると、メイン画像が切り替わる1-->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
	<!--　ページを開くと、背景が暗くなりテキストを表示-->
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css">


	<!--自作のCSS-->
	<link rel="stylesheet" type="text/css" href="css/reset_zoumou.css">
	<link rel="stylesheet" type="text/css" href="css/parts_zoumou.css">
	<link rel="stylesheet" type="text/css" href="css/layout_zoumou.css">

	<link rel="stylesheet" type="text/css" href="css/layout_price.css">
	<link rel="stylesheet" type="text/css" href="css/parts_price.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">



</head>

<body>

	<div id="container">
		<header id="header">

			<div class="img-gallery fadeUpTriggerNew">
				<ul class="slider2">
					<li><img src="img/gal_01.png" alt=""></li>
					<li><img src="img/gal_02.png" alt=""></li>
					<li><img src="img/gal_03.png" alt=""></li>
					<li><img src="img/gal_04.png" alt=""></li>
					<li><img src="img/gal_05.png" alt=""></li>
					<li><img src="img/gal_06.png" alt=""></li>
					<li><img src="img/gal_07.png" alt=""></li>
					<li><img src="img/gal_08.png" alt=""></li>
					<!--/slider2-->
				</ul>
				<!--/img-gallery-->
			</div>


			<ul class="header-utility">
				<li><a href="https://res.locaop.jp/a/avellino/shops/10436399904715329217?_src=lp" target="_blank">ご来店予約</a></li>
				<li><a href="https://lin.ee/mSPyMupI" target="_blank">LINE予約&emsp;</a></li>
				<li><a href="tel:050-3623-5556"><span class="pcnone">TEL</span><span
							class="spnone">050-3623-5556</span></a></li>
			</ul>
		</header>

		<div class="openbtn">
			<div class="openbtn-area"><span></span><span></span><span></span></div>
		</div>

		<nav id="g-nav">
			<div id="g-nav-list">
			<!--<span class="bg-white2">AVELLINO</span></p>-->
				<ul>
					<li><a href="/index.html"target="_blank">トップ</a></li>
					<li><a href="/view/avellino_price.html"target="_blank">料金表</a></li>
					<li><a href="/view/avellino_review.html"target="_blank">施術例</a></li>
					<li><a href="/view/avellino_faq.html#faq"target="_blank">よくあるご質問</a></li>
					<li><a href="/view/avellino_faq.html#timeline"target="_blank">施術の流れ</a></li>
					<li><a href="/view/avellino_shop.html"target="_blank">店舗情報・アクセス</a></li>
					<li><a>Instagram（準備中）</a></li>
					<li><a href="/view/avellino_faq.html#aftercare"target="_blank">アフターケア</a></li>
					<li><a>オンラインショップ（準備中）</a></li>
					<li><a href="https://form.run/@chocostory-SC1HlMuigRaVpRgu6U11">増毛シミュレーション</a></li>
					<li><a href="/view/avellino_online.html"target="_blank">増毛オンライン相談</a></li>


				</ul>
			</div>
		</nav>


		<div class="circle-bg"></div>

		<main>

			<div id="wrapper">
				<main id="main-area">

					<section id="ranking" class="fadeUpTrigger">
						<h2><span>料金表<br>
								<p>P<a>rice</a></p>
							</span></h2>

						<ol class="ranking-list delayScroll">
							<li class="shine"><span class="mask"><img src="img/price_menu.svg" alt=""></span><span
									class="ranking-cap">エクステ60分施術<br>&yen;11,000（税込）<br>
									<p>６０分エクステ装着・リペア(目安400本)<br>初回のお客様は、カウンセリングからアフターカウンセリングまで約2時間程度のお時間を頂戴いたします。</p>
								</span></li>
							<li class="shine"><span class="mask"><img src="img/price_menu.svg" alt=""></span><span
									class="ranking-cap">ヘッドマッサージ（15分）<br>&yen;2,200（税込）<br>
									<p></p>
								</span></li>
							<li class="shine"><span class="mask"><img src="img/price_menu.svg" alt=""></span><span
									class="ranking-cap">眉カット&眉WAX脱毛<br>&yen;5,500（税込）<br>
									<p></p>
								</span></li>

							<li class="shine"><span class="mask"><img src="img/price_menu.svg" alt=""></span><span
									class="ranking-cap">（サービス名）<br>&yen;〇〇,〇〇〇<br>
									<p>サービス説明</p>
								</span></li>
								<!--
							<li class="shine"><span class="mask"><img src="img/price_menu.svg" alt=""></span><span
									class="ranking-cap">（サービス名）<br>&yen;〇〇,〇〇〇<br>
									<p>サービス説明</p>
								</span></li>
							<li class="shine"><span class="mask"><img src="img/price_menu.svg" alt=""></span><span
									class="ranking-cap">（サービス名）<br>&yen;〇〇,〇〇〇<br>
									<p>サービス説明</p>
								</span></li>
							<li class="shine"><span class="mask"><img src="img/price_menu.svg" alt=""></span><span
									class="ranking-cap">（サービス名）<br>&yen;〇〇,〇〇〇<br>
									<p>サービス説明</p>
								</span></li>
							<li class="shine"><span class="mask"><img src="img/price_menu.svg" alt=""></span><span
									class="ranking-cap">（サービス名）<br>&yen;〇〇,〇〇〇<br>
									<p>サービス説明</p>
								</span></li>
							<li class="shine"><span class="mask"><img src="img/price_menu.svg" alt=""></span><span
									class="ranking-cap">（サービス名）<br>&yen;〇〇,〇〇〇<br>
									<p>サービス説明</p>
								</span></li>
							-->
						</ol>
					</section>

					<div class="fadeLeftTrigger fadeLeft submit-btn2"><a
							href="https://res.locaop.jp/a/avellino/shops/10436399904715329217?_src=lp" target="_blank">ご来店予約は<br>こちらから</a>
					</div>


				</main>

			</div>




			<div class="bgextend bgLRextendTrigger_bk customise_one">
				<div class="bgappearTrigger_bk">
					<section id="contact2">
						<div class="contact2-detail">
							<span class="slide-in rightAnime"><span class="slide-in_inner rightAnimeInner">
									<h2 class="customise_contact">Contact</h2>
								</span></span>
							<p><span class="slide-in rightAnime"><span
										class="slide-in_inner rightAnimeInner">お電話・お問い合わせにてお気軽にお問い合わせください。</span></span>
							</p>
						</div>
						<div class="contact2-tel">
							<p><a href="tel:050-3623-5556"><span class="slide-in rightAnime"><span
											class="slide-in_inner rightAnimeInner">Tel:050-3623-5556</span></span></a>
							</p>
							<p><a href="/view/avellino_online.html"target="_blank"><span class="slide-in rightAnime"><span
											class="slide-in_inner rightAnimeInner">お問い合わせ<br>フォーム</span></span></a></p>
						</div>
					</section>
				</div>
			</div>

		</main>


		<footer id="footer" class="inner fadeLeftTrigger fadeLeft">
			<dl>
				<dt><span class="slide-in leftAnime"><span
							class="slide-in_inner leftAnimeInner">メンズ増毛エクステ</span></span></dt>
				<dd><span class="slide-in leftAnime"><span class="slide-in_inner leftAnimeInner">AVELLINO
							</span></span></dd>
			</dl>
			<div class="footer-list">
				<div class="slide-in leftAnime">
					<div class="slide-in_inner leftAnimeInner">
						<ul>
							<li><a href="/index.html"target="_blank">トップ</a></li>
							<li><a href="/view/avellino_price.html"target="_blank">料金表</a></li>
							<li><a href="/view/avellino_review.html"target="_blank">施術例</a></li>
							<li><a href="/view/avellino_faq.html#faq"target="_blank">よくあるご質問</a></li>
							<li><a href="/view/avellino_faq.html#timeline"target="_blank">施術の流れ</a></li>
							<li><a href="/view/avellino_shop.html"target="_blank">店舗情報・アクセス</a></li>
							<li><a href="#">INSTAGRAM（準備中）</a></li>
							<li><a href="/view/avellino_faq.html#aftercare"target="_blank">アフターケア</a></li>
							<li><a href="#">オンラインショップ（準備中）</a></li>
							<li><a href="https://form.run/@chocostory-SC1HlMuigRaVpRgu6U11">増毛シミュレーション</a></li>
							<li><a href="/view/avellino_online.html"target="_blank">増毛オンライン相談</a></li>
							<li><a href="/view/avellino_privacy.html"target="_blank">利用規約</a></li>
						</ul>
					</div>
				</div>

			</div>
			<br><br><small><span class="slide-in leftAnime"><span class="slide-in_inner leftAnimeInner"><br><br>〒153-0042<br>東京都目黒区青葉台1-30-9<br>ハイリー青葉台802<br><br>&copy; AVELLINO
						</span></span></small>
		</footer>

		<!--/container-->
	</div>

	<!--=============JS ===============-->
	<!--jQuery-->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<!--　横移動させて全画面で見せる-->
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<!--印象編　9-2　PNG アニメーション（APNG）-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/apng-canvas/2.1.1/apng-canvas.min.js"></script>

	<!-- スクロールすると位置が固定して追従-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js"></script>
	<!--　サムネイルをクリックすると、メイン画像が切り替わる1-->
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<!-- ツールチップ-->
	<script src="https://unpkg.com/popper.js@1"></script>
	<script src="https://unpkg.com/tippy.js@5"></script>
	<!--　ページを開くと、背景が暗くなりテキストを表示-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

	<!--自作のJS-->
	<script src="js/script.js"></script>
	<script src="js/script_price.js"></script>

	<script>
		(function (d) {
			var config = {
				kitId: 'ymx5juc',
				scriptTimeout: 3000,
				async: true
			},
				h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
		})(document);
	</script>

</body>

</html>
