<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>目黒の増毛エクステAVELLINO</title>
	<meta name="description"  content="目黒の増毛エクステAVELLINO">
	<meta name="robots" content="noindex,nofollow"><meta name="keywords"  content="">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<!--=============Google Font ===============-->
	<link href="https://fonts.googleapis.com/css?family=Lato:700%7CKosugi+Maru&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">

	<!--==============レイアウトを制御する独自のCSSを読み込み===============-->
	<!--　横移動させて全画面で見せる-->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">



	<!--自作のCSS-->
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/parts.css">
	<link rel="stylesheet" type="text/css" href="css/layout.css">
</head>
<body>




	<div id="splash">
		<div id="splash-logo">

			<font size="3">（地名）の<br>増毛エクステサロン<br></font><p><font size="7">AVELLINO</font></p>
		</div>

	</div>
	<div class="splashbg"></div>



	<div id="container">
		<header id="header">
			<div class="header-area">
				<!--			<h1>
				<img src="img/identity.png" alt="" class="apng-image"><br>

				<span>	（地名）の増毛エクステ<p>Avellino</p></span>

			</h1> -->
			<p class="lead">
				<div class="lead-text">
					<span class="bg-white2">増毛エクステサロン</span><br><br><span class="bg-white3" data-ruby="アヴェリーノ">AVELLINO</span><br><br>
					<span class="bg-white">❛❛髪を切ることが当たり前なように</span><br>
					<span class="bg-white">髪を増やすことが当たり前の日常に❜❜<span class="border-yellow"></span></span>

				</div>

			</p>
			<!--		<p class="address"><span class="bg-white">〒○○○-○○○○</span><br />
			<span class="bg-white">東京都○○区○○</span></p> -->
			<!--<ul>
			<li>
			<dl>
			<dt>TEL</dt>
			<dd><a href="tel:050-3623-5556">050-3623-5556</a></dd>
		</dl>
	</li>
	<li>
	<dl>
	<dt>FAX</dt>
	<dd><a href="tel:050-3623-5556">050-3623-5556</a></dd>
</dl>
</li>
</ul> -->
<!--/header_area--></div>



<ul class="slider">
	<li class="slider-item slider-item01"></li>
	<li class="slider-item slider-item02"></li>
	<!--	<li class="slider-item slider-item03"></li>
	<li class="slider-item slider-item04"></li>
	<li class="slider-item slider-item05"></li>
	<li class="slider-item slider-item06"></li>
	<li class="slider-item slider-item07"></li>
	<li class="slider-item slider-item08"></li>
	<li class="slider-item slider-item09"></li> -->
	<!--		<li class="slider-item slider-item10"></li> -->
</ul>
<ul class="header-utility">
	<li><a href="https://res.locaop.jp/a/avellino/shops/10436399904715329217?_src=lp" target="_blank">ご来店予約</a></li>
	<li><a href="https://lin.ee/mSPyMupI" target="_blank">LINE予約&emsp;</a></li>
	<li><a href="tel:〇〇-〇〇〇〇-〇〇〇〇"><span class="pcnone">TEL</span><span class="spnone">XX-XXXX-XXXX</span></a></li>
</ul>
</header>

<div class="openbtn"><div class="openbtn-area"><span></span><span></span><span></span></div></div>
<nav id="g-nav">
	<div id="g-nav-list">
		<span class="bg-white3" >AVELLINO</span></p>
		<ul>
			<li><a href="index.html">トップ</a></li>
			<li><a href="avellino_price.html" target="_blank">料金表</a></li>
			<li><a href="avellino_review.html" target="_blank">施術例</a></li>
			<li><a href="avellino_faq.html#faq" target="_blank">よくあるご質問</a></li>
			<li><a href="avellino_faq.html#timeline" target="_blank">施術の流れ</a></li>
			<li><a href="avellino_shop.html" target="_blank">店舗情報・アクセス</a></li>
			<li><a>Instagram（準備中）</a></li>
			<li><a href="avellino_faq.html#aftercare" target="_blank">アフターケア</a></li>
			<li><a>オンラインショップ（準備中）</a></li>
			<li><a href="https://form.run/@chocostory-SC1HlMuigRaVpRgu6U11">増毛シミュレーション</a></li>
			<li><a href="avellino_online.html" target="_blank">増毛オンライン相談</a></li>


		</ul>
	</div>
</nav>
<div class="circle-bg"></div>

<main>

	<section id="course2" class="inner2">
		<h2 class="fadeUpTrigger">
			<span class="pcnone"><!--<img src="img/wakaba.svg">--><font size=4>“増毛エクステ”がファッション・オシャレの１つになる時代に</font></span>
			<span class="spnone"><!--<img src="img/wakaba.svg">-->“増毛エクステ”がファッション・<br>オシャレの１つになる時代に</span>

		</h2>

		<div class="flipRightTopTrigger-text">
			<font size=3>
				<br>増毛エクステがオシャレ・ファッションの一部として、もっと身近な存在になり、髪を切ることが当たり前のように、髪を増やす事が当たり前の日常になるように。。<br><br>

				AVELLINOではお客様がいつでも気軽に通える、心地よい空間を提供し、当店で1人でも多くのお客様に”増毛エクステ”に出逢って頂きたいと思っております。<br><br>

				お客様の薄毛やヘアのボリュームダウンなどの悩みに寄り添い、増毛後の日頃の生活はもちろん、大切な日の自分などにも自信が持てるようなお手伝いをさせて頂きます。<br><br>

				世の中に綺麗な大人を増やし、増毛エクステでのオシャレが当たり前の時代に…<br><br>

				AVELLINOは、そんな想いを持って日々お客様に触れ合っております。<br><br>
			</font>
			<figure class="greeting-img2 smoothTrigger fadeUpTrigger"><img src="img/05.jpg" alt=""></figure><br>
			<font size=3>
				増毛エクステサロン<br>AVELLINO<br>
				代表　〇〇 〇〇<br>
			</font>
		</div>

	</section>

	<section id="contact2">

		<span class="pcnone">
			<div class="contact2-detail fadeUpTrigger">
				<div class="zoomInTrigger">
					<h2>最近、こんなことに『ハッ』としませんでしたか？</h2><h2>&nbsp;</h2>
				</div>
				<h3>ドライヤーやブラッシングの後、洗面カウンターや床に抜け毛がたくさん落ちていた</h3><h2>&nbsp;</h2>
				<h3>鏡や写真に映る自分の、髪のボリュームや、生え際・分け目に目が行くようになってきた</h3><h2>&nbsp;</h2>
				<h3>ヘアスタイルがなかなか決まらない</h3><h2>&nbsp;</h2>

				<p><br>AVELLINOの増毛エクステが、そのお悩みを解決します</p>
				<ul>

					<li><a href="avellino_online.html" target="_blank" class="btn06 btnarrow2">オンライン相談&nbsp;</a></li>
					<li><a href="https://res.locaop.jp/a/avellino/shops/10436399904715329217?_src=lp" target="_blank" class="btn06 btnarrow2">ご来店予約</a></li>
				</ul>
			</div>
		</span>

		<span class="spnone">
			<div class="contact2-detail fadeUpTrigger">

				<h2>最近、こんなことに『ハッ』としませんでしたか？</h2><h2>&nbsp;</h2>
				<h3>ドライヤーやブラッシングの後、</h3><h3>洗面カウンターや床に抜け毛がたくさん落ちていた</h3><h2>&nbsp;</h2>
				<h3>鏡や写真に映る自分の、髪のボリュームや、</h3><h3>生え際・分け目に目が行くようになってきた</h3><h2>&nbsp;</h2>
				<h3>ヘアスタイルがなかなか決まらない</h3><h2>&nbsp;</h2>

				<p><br>AVELLINOの増毛エクステが、そのお悩みを解決します</p>
				<ul>

					<li><a href="avellino_online.html" target="_blank" class="btn06 btnarrow2">オンライン相談&nbsp;</a></li>
					<li><a href="https://res.locaop.jp/a/avellino/shops/10436399904715329217?_src=lp" target="_blank" class="btn06 btnarrow2">ご来店予約</a></li>
				</ul>
			</div>
		</span>

	</section>



	<section id="course" class="inner">
		<h2 class="flipRightTopTrigger-course"><span>メニュー</span><p>Menu</p></h2><br>
		<div class="course-list">

			<section class="zoomInTrigger">
				<a href="avellino_price.html" target="_blank">
					<div class="course-img"></div>

					<h3>料金表<br><p>Price</p></h3>
				</a>

			</section>

			<section class="zoomInTrigger">
				<a href="avellino_review.html" target="_blank">
					<div class="course-img"></div>

					<h3>施術例<br><p>Before/After</p></h3>
				</a>
			</section>

			<section class="zoomInTrigger">
				<a href="avellino_faq.html#faq" target="_blank">
					<div class="course-img"></div>

					<h3>よくあるご質問<br><p>FAQ</p></h3>
				</a>
			</section>

			<section class="zoomInTrigger">
				<a href="avellino_faq.html#timeline" target="_blank">
					<div class="course-img"></div>

					<h3>施術の流れ<br><p>Timeline</p></h3>
				</a>
			</section>

			<section class="zoomInTrigger">
				<a href="avellino_shop.html" target="_blank">
					<div class="course-img"></div>

					<h3>店舗情報・アクセス<br><p>Shop</p></h3>
				</a>
			</section>

			<section class="zoomInTrigger">
				<a>
					<div class="course-img"></div>

					<h3><a>インスタグラム（準備中）<br><p>Instagram</p></a></h3>
				</a>
			</section>

			<section class="zoomInTrigger">
				<a href="avellino_faq.html#aftercare" target="_blank">
					<div class="course-img"></div>

					<h3>アフターケア<br><p>Aftercare</p></h3>
				</a>
			</section>

			<section class="zoomInTrigger">
				<a href="#" target="_blank">
					<div class="course-img"></div>

					<h3><a>オンラインショップ<br>（準備中）</a></h3>
				</a>
			</section>

			<section class="zoomInTrigger">
				<a href="#">
					<div class="course-img"></div>

					<h3>増毛シミュレーション<br><p>Simulation</p></h3>
				</a>
			</section>

			<section class="zoomInTrigger">
				<a href="avellino_online.html" target="_blank">
					<div class="course-img"></div>

					<h3>増毛オンライン相談<br><p>Online meeting</p></h3>
				</a>
			</section>


			<!--/course-list--></div>
		</section>

		<div class="img-gallery fadeUpTrigger">
			<ul class="slider2">
				<li><img src="img/gal_01.png" alt=""></li>
				<li><img src="img/gal_02.png" alt=""></li>
				<li><img src="img/gal_03.png" alt=""></li>
				<li><img src="img/gal_04.png" alt=""></li>
				<li><img src="img/gal_05.png" alt=""></li>
				<!--				<li><img src="img/gal_06.png" alt=""></li>
				<li><img src="img/gal_07.png" alt=""></li>
				<li><img src="img/gal_08.png" alt=""></li>-->
				<!--		<li><img src="img/gal_09.png" alt=""></li> -->
				<!--		<li><img src="img/gal_10.png" alt=""></li> -->
				<!--/slider2--></ul>
				<!--/img-gallery--></div>

				<section id="contact">
					<div class="contact-detail fadeUpTrigger">
						<h2><br>お気軽にご相談ください</h2>
						<p>経験豊富なスタッフが<br>お待ちしています</p>


						<ul>
							<li><a href="avellino_online.html" target="_blank" class="btn06 btnarrow2">オンライン相談</a></li>
							<li><a href="https://res.locaop.jp/a/avellino/shops/10436399904715329217?_src=lp" target="_blank" class="btn06 btnarrow2">ご来店予約</a></li>
						</ul>
					</div><!--/contact-detail-->
				</section>
			</main>

			<footer id="footer" class="inner">
				<div class="footer-area">

					<dl class="fadeLeftTrigger fadeLeft school-info">
						<dt class="footer-title">〇〇駅最寄りの<br>増毛エクステサロン<span>Avelino</span></dt>
						<dd>
							<ul>
								<li>〒〇〇〇-〇〇〇〇<br />東京都〇〇区〇〇〇〇〇〇</li>
								<li>
									<dl><dt>TEL</dt><dd><a href="tel:050-3623-5556">〇〇-〇〇〇〇-〇〇〇〇</a></dd></dl>
								</li>
								<li>
									<dl><dt>FAX</dt><dd>〇〇-〇〇〇〇-〇〇〇〇</dd></dl>
								</li>
							</ul>
						</dd>
					</dl>

					<div class="footer-sitemap">
						<ul>
							<li><a href="index.html">トップ</a></li>
							<li><a href="avellino_price.html" target="_blank">料金表</a></li>
							<li><a href="avellino_review.html" target="_blank">施術例</a></li>
							<li><a href="avellino_faq.html#faq" target="_blank">よくあるご質問</a></li>
							<li><a href="avellino_faq.html#timeline" target="_blank">施術の流れ</a></li>
							<li><a href="avellino_shop.html" target="_blank">店舗情報・アクセス</a></li>
							<li><a>Instagram（準備中）</a></li>
							<li><a href="avellino_faq.html#aftercare" target="_blank">アフターケア</a></li>
							<li><a>オンラインショップ（準備中）</a></li>
							<li><a href="https://form.run/@chocostory-SC1HlMuigRaVpRgu6U11">増毛シミュレーション</a></li>
							<li><a href="avellino_online.html" target="_blank">増毛オンライン相談</a></li>
						</ul>
						<!--/footer-sitemap--></div>
						<!-- /footer-area --></div>
						<small><a href="avellino_privacy.html" target="_blank">利用規約</a><br>
							<a href="avellino_tokutei.html" target="_blank">特定商取引法に基づく表記</a></small>
							<small><br><span class="pcnone">ヘアスタイルのお悩み解決で、<br>心も晴れやかに</span><span class="spnone">ヘアスタイルのお悩み解決で、心も晴れやかに</span><br><br>&copy; Avelino</small>
							<!--<p id="page-top"><a href="#"><span>Page<br>Top</span></a></p> -->
						</footer>

						<!--/container--></div>

						<!--=============JS ===============-->
						<!--jQuery-->
						<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
						<!--　横移動させて全画面で見せる-->
						<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
						<!--印象編　9-2　PNG アニメーション（APNG）-->
						<script src="https://cdnjs.cloudflare.com/ajax/libs/apng-canvas/2.1.1/apng-canvas.min.js"></script>
						<!--自作のJS-->
						<script src="js/script.js"></script>

						<script>
						(function(d) {
							var config = {
								kitId: 'ymx5juc',
								scriptTimeout: 3000,
								async: true
							},
							h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
						})(document);






						</script>

					</body>
					</html>
